body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(0,0%,95%) ;
}
button{
    width: 65px;       
    height: 65px;       
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color:white;
    font-size: 1.8rem;   
    font-weight: bold;
    cursor:pointer;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator{
   font-family: Arial, Helvetica, sans-serif;
   background-color: hsl(0, 0%, 15%);
   width: 340px;        
   border-radius: 20px; 
   overflow:hidden;
}
#display{
    width:100%;
    padding:20px;
    font-size: 2.5rem;  
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color:white;
    box-sizing: border-box; 
}

/* Add a hover effect to the buttons so that when we hover they turn into a lighter shade*/
button:hover{
    background-color: hsl(0,0%,40%);
}
button:active{
    background-color: hsl(0,0%,50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);

}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}


